:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #1E0FDA;
    --orange: #FF3A0E;
    --beige: #F8F2EF;
}

* {
    box-sizing: border-box;
}

.menu{
    background-color: var(--beige);
}


/* MENÚ Y HEADER */
/* Encabezado */
header {
    background-color: #F8F2EF;
    padding: 5px 10px;
    border-bottom: 1px solid #ff3a0e;
}

/* Contenedor del logo */
.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    height: 100px; 
}

/* Logo UMAMI */
.logo {
    margin: 0;
    font-size: 4rem; 
    color: #ff3a0e;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}

/* Texto japonés */
.japanese-text {
    position: absolute;
    right: 30px;
    transform: translateY(-50%);
    font-size: 1.7rem;
    color: #1E0FDA;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-bottom: 2.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
}

/* menu */
.navbar {
    background-color: #F8F2EF; 
    border-bottom: 1px solid #ff3a0e; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-left: 17em;
}

.nav-link {
    font-size: 1em;
    font-weight: 400; 
    color: #ff3a0e;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #b0290a; 
}

.nav-link.active {
    font-weight: 700;
    color: #b0290a !important; 
}

/* HEADER */
#header-menu {
    background-color: var(--beige);
    background-image: url('../media/img/headerweb.png');
    background-size: cover;
}
.container {
    padding-top: 5%;
}

.menu-title {
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
    font-size: 3.6em;
}

.menu-subtitle{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--orange);
    font-size: 1em;
    background-color: var(--beige);
}

.custom-line {
    height: 1.5px;
    background-color: var(--orange);
    width: 100%;
}


/* NUESTRA CARTA */
#nuestra-carta{
    display: flex; 
    align-items: center;
}

.texto-carta {
    flex: 0.8;
    margin: 0 3em 0 6em;
}

.carta-titulo{
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
    font-size: 3em;
    margin-bottom: 1em;
}

.carta-texto{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--orange);
    font-size: 1.1em;
}

/* botones */
/* Contenedor general */
.botones-carta {
    margin-top: 3em;
    display: flex;
    gap: 2em;
}

.boton {
    flex: 1;
    max-width: 230px;
    text-align: center;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: semibold;
    color: var(--orange);
    text-decoration: none;
    border: 2px solid var(--orange);
    border-radius: 0; 
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: var(--blue);
    color: var(--beige); 
    border-color: var(--blue);
}

/* cuadricula fotos */
.carta-cuadricula {
    display: flex;
    width: 80%;
    max-width: 50%; 
    height: 500px;
}

.grid-item-small {
    display: flex;
    flex-direction: column; 
    flex: 1; 
    height: 100%; 
}

.grid-item-small img {
    width: 100%;
    height: calc(50%);
    object-fit: cover; 
    border-bottom: 1.5px solid #FF3A0E; 
    border-right: 1.5px solid #FF3A0E; 
    box-sizing: border-box;
}

.grid-item-large {
    flex: 2; 
    height: 100%;
}

.grid-item-large img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    box-sizing: border-box;
    border-right: 1.5px solid #FF3A0E; 
}

.responsive-cuadricula {
    display: none;
}

/* APARTADOS MENÚ (CARDS) */
#menu-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
  padding: 3rem 1rem;
  background-color: var(--beige); 
  position: relative;
}

/* cuadricula fondo */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; 
    z-index: 0;
    pointer-events: none;
}

/* cards */
.card {
  width: 200px;
  text-align: center;
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 1;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card h3 {
    margin-top: 1.5em; 
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
    color: var(--blue);
}

/* hover */
.card:hover img {
  transform: scale(1.1);
  cursor: pointer;
}



/* PLATOS CARTA */
/* cuadrícula de fotos derecha*/
.carta-cuadricula-platos {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 100%;
    border: 1.5px solid transparent;
    box-sizing: border-box;
}

.grid-row {
    display: flex;
    width: 100%;
}
  
.grid-row img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-left: 1.5px solid var(--orange);
    border-bottom: 1.5px solid var(--orange);
}
  
.grid-row img:last-child {
    border-left: 1.5px solid var(--orange);
    border-bottom: 1.5px solid var(--orange);
}

.grid-large-row {
    margin-top: -1.5px;
}
  
.grid-large-row img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-left: 1.5px solid var(--orange);
    border-top: 1.5px solid var(--orange);
}

/* cuadrícula de fotos izquierda*/
.grid-row-i {
    display: flex;
    width: 100%;
}
  
.grid-row-i img {
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-right: 1.5px solid var(--orange);
    border-bottom: 1.5px solid var(--orange);
}
  
.grid-row-i img:last-child {
    border-right: 1.5px solid var(--orange);
    border-bottom: 1.5px solid var(--orange);
}

.grid-large-row-i {
    margin-top: -1.5px;
}
  
.grid-large-row-i img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-right: 1.5px solid var(--orange);
    border-top: 1.5px solid var(--orange);
}

/* línea separación */
.custom-line {
    height: 1.5px;
    background-color: var(--orange);
    width: 100%;
}
  

/* textos generales platos-carta */
.nombre{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--orange);
    font-size: 1.4em;
}

.descripcion{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: var(--blue);
    margin-bottom: 1.5em;
    text-align: center;
}

.titulo-apartado-carta{
    margin-bottom: 0.5em;
    margin-top: 1.2em;
}

.nombres-platos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em 0 3em ;
}

/* entrantes */
#entrantes{
    display: flex;
    align-items: center;
}

.entrantes-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sushi */
#sushi{
    display: flex;
    align-items: center;
}

.sushi-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ramen */
#ramen{
    display: flex;
    align-items: center;
}

.ramen-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* carnes */
#carnes{
    display: flex;
    align-items: center;
}

.carnes-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* postres */
#postres{
    display: flex;
    align-items: center;
}

.postres-carta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-container {
    width: 50%; /* Ajusta este valor para definir el tamaño del cuadrado */
    height: auto;
    margin: 20px auto;
    border: 2px solid var(--orange); /* Borde del color especificado */
    background-color: var(--beige); /* Color de fondo del interior */
    box-sizing: border-box;
   
}

#personalized-card h2, #personalized-card p, #generate-card {
    color: var(--orange); /* Color del texto */
}
#generate-card {
    background-color: #1E0FDA; /* Color de fondo del botón */
    color: #F8F2EF; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; /* Opcional: para redondear las esquinas del botón */
    cursor: pointer;
}

#generate-card:hover {
    background-color: #150BB8; /* Color más oscuro para el hover */
}
#card-result .modal-content {
    border: 5px solid #FF3A0E;
    background-color: #F8F2EF;
    border-radius: 8px;
    color: #FF3A0E;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estiliza la cabecera del modal */
#card-result .modal-header {
    border-bottom: 2px solid #FF3A0E;
}

#card-result .modal-title {
    color: #FF3A0E;
}

/* Estiliza el botón de cierre en la cabecera */
#card-result .btn-close {
    background: none;
    border: none;
    color: #FF3A0E;
    opacity: 1;
}

#card-result .btn-close:hover {
    color: #1E0FDA;
}

/* Estiliza el cuerpo del modal */
#card-content {
    background-color: #F8F2EF;
    color: #FF3A0E;
    padding: 15px;
    border: 2px solid #FF3A0E;
    border-radius: 5px;
}

/* Estiliza el botón en el pie del modal */
#card-result .modal-footer .btn {
    background-color: #1E0FDA;
    color: #F8F2EF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#card-result .modal-footer .btn:hover {
    background-color: #150BB8;
}


/* FOOTER */
footer {
    background-color: #F8F2EF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Línea horizontal azul */
.line {
    height: 1px;
    background-color: #1E0FDA;
    width: 100%;
    margin-bottom: 4em;
}

/* Enlaces principales */
.text-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    margin: 0 auto 2em auto;
    max-width: 60%;
}

.column h3 {
    font-size: 0.9em;
    font-weight: 400;
    color: #FF3A0E;
    cursor: pointer;
    font-weight: bold
}

.column h3.bold {
    font-weight: 700;
    color: #1E0FDA;
}

/* Redes sociales */
.social-media {
    display: grid
;
    grid-template-columns: repeat(6, 1fr);
    gap: 3em;
    max-width: 40%;
    margin: 0 auto 2em auto;
}
.column-sm i {
    font-size: 1.5em;
    color: #FF3A0E;
    transition: color 0.3s ease;
}

.column-sm i:hover {
    color: #1E0FDA;
}

/* Política de privacidad */
footer .privacy-policy h3 {
    font-size: 0.9em; 
    line-height: 1.2em; 
    color: #FF3A0E; 
    font-weight: bold;
    font-family: 'Inter';
}
footer .privacy-policy h4 {
    font-size: 0.9em; 
    line-height: 1.4em; 
    color: #FF3A0E; 
    font-family: 'Inter';
}

.row-policy h3 {
    margin: 0.5em 0;
}

.footer-logo {
    text-align: center; 
    margin-top: 4em;   
}

.footer-logo img {
    max-width: 100%; 
    height: auto;     
}


/* Ajustes responsivos */
@media (max-width: 768px) {
    .text-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 90%;
    }

    .social-media {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 60%;
    }

    .row-policy h3 {
        font-size: 0.7em;
    }
}


/* RESPONSIVE */
/* pantalla grande */
@media (min-width: 1470px) {
    /* header */
    .menu-title{
        font-size: 4.5em;
    }
    .menu-subtitle{
        font-size: 1.3em;
        background-color: var(--beige);
    }

    /* nuestra carta */
    .carta-titulo{
        font-size: 3.7em;
    }
    .carta-texto{
        font-size: 1.3em;
    }
    .carta-cuadricula{
        height: 700px;
    }
    .botones-carta{
        margin-top: 4em;
    }

    /* apartados menu */
    #menu-cards{
        height: 600px;
        align-items: center;
    }
    .card{
        width: 300px;
    }
    .card img{
        height: 400px;
    }
    .card h3{
        font-size: 1.8em;
    }

    /* platos carta */
    .nombre{
        font-size: 1.6em;
    }
    .descripcion{
        font-size: 1.1em;
    }
    .entrantes-carta{
        width: 70%;
    }
    .sushi-carta{
        width: 70%;
    }
    .ramen-carta{
        width: 70%;
    }
    .carnes-carta{
        width: 70%;
    }
    .postres-carta{
        width: 70%;
    }
}

/* tablet */
@media only screen and (max-width: 820px){
    /* header */
    .menu-subtitle{
        margin: 0 5em;
    }
    /* nuestra carta */
    #nuestra-carta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .original-cuadricula {
        display: none;
    }

    .responsive-cuadricula {
        display: flex;
        flex-direction: row;
        width: calc(100% / 3) !important;
        height: 350px;
        margin: 0; 
        padding: 0; 
    }
    .responsive-cuadricula img {
        height: auto;
        width: 100%;
        object-fit: cover; 
        border: 1.5px solid #FF3A0E;
        box-sizing: border-box; 
    }
    .texto-carta{
        text-align: center;
    }
    .carta-titulo{
        font-size: 2.2em;
        margin-top: 1em;
    }
    .carta-texto{
        font-size: 1em;
    }
    .botones-carta{
        justify-content: center;
        margin-bottom: 3em;
    }
    .boton{
        font-size: 0.9rem;
    }

    /* apartados carta */
    #menu-cards{
        gap: 1.5em;
        padding: 3rem 1rem 0.3em;
    }
    .background-image{
        height: auto;
    }
    .card img{
        height: 180px;

    }
    .card h3{
        margin-top: 1em;
        font-size: 1.2em;
    }

    /* platos carta */
    .carta-titulo{
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        font-size: 2.2em;
    }
    .titulo-apartado-carta{
        margin-top: 0;
    }
    .nombre{
        font-size: 1.2em;
    }
    .descripcion{
        font-size: 1em;
    }

    .entrantes-carta{
        width: 60%;
    }
    .sushi-carta{
        width: 60%;
    }
    .ramen-carta{
        width: 60%;
    }
    .carnes-carta{
        width: 60%;
    }
    .postres-carta{
        width: 60%;
    }
    .grid-large-row img {
        height: 290px;
    }
    .grid-row img {
        height: 360px;
    }
}


/* movil */
@media only screen and (max-width: 550px) {
    /* header */
    .menu-subtitle{
        display: none;
    }

    /* nuestra carta */
    .carta-titulo{
        margin-top: 1em;
    }
    .texto-carta{
        margin: 0 3em 0 3em;
    }
    .boton{
        font-size: 0.7rem;
    }
    .responsive-cuadricula{
        height: 300%;
    }

    /* apartados carta */
    #menu-cards{
        gap: 1em;
        padding-top: 2em;
    }
    .card img{
        height: 100px;
    }
    .card h3{
        font-size: 0.9em;
    }

    .carta-cuadricula-platos{
        display: none;
    }
    .platos{
        margin-bottom: 2em;
    }
    .carta-titulo{
        font-size: 2.2em;
        margin-top: 1.5em;
    }
    .nombre{
        font-size: 1.15em;
    }
    .descripcion{
        font-size: 0.9em;
    }
    .entrantes-carta {
        width: 100%;
        text-align: center;
    }
    .sushi-carta {
        width: 100%;
        text-align: center;
    }
    .ramen-carta {
        width: 100%;
        text-align: center;
    }
    .carnes-carta {
        width: 100%;
        text-align: center;
    }
    .postres-carta {
        width: 100%;
        text-align: center;
    }
}

/* RESPONSIVE MENU */
@media (max-width: 991.98px) {
    .navbar-nav {
        display: block;
        padding-left: 0; 
        text-align: center; 
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        padding: 0.5em 0; 
    }
}

/* RESPONSIVE FOOTER */

@media (max-width: 767px)  {

    .text-footer {
        display: flex;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.6em;
        margin: 0 auto 2em auto;
        max-width: 60%;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .social-media {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 0.5em;
        margin: 0 auto 2em auto;
    }
    .column-sm i {
        font-size: 0.8em;
        color: #FF3A0E;
        transition: color 0.3s ease;
    }

    footer .privacy-policy h3 {
        font-size: 0.5em;
        line-height: 1.2em;
        color: #FF3A0E;
        font-weight: bold;
    }
    footer .privacy-policy h4 {
        font-size: 0.5em;
        line-height: 1.4em;
        color: #FF3A0E;
    }
}

/* pantalla grande */
@media (min-width: 1600px) and (max-width: 2560px) {

.social-media {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3em;
    max-width: 40%;
    margin: 0 auto 4em auto;
}
footer .privacy-policy h3 {
    font-size: 2em;
    line-height: 1.2em;
    color: #FF3A0E;
    font-weight: bold;
}

footer .privacy-policy h4 {
    font-size: 2em;
    line-height: 1.4em;
    color: #FF3A0E;
}

.footer-logo img {
    max-width: 100%;
    height: 30em;
}

}
