:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #1E0FDA;
    --orange: #FF3A0E;
    --beige: #F8F2EF;
}

* {
    box-sizing: border-box;
}
.contacto {
    background-color: var(--beige);
}

.contact-title {
    font-size: 4em;
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
}

#header-contacto {
    background-color: var(--beige);
    display: flex;
    align-items: center;
    background-image: url('../media/img/headerweb.png');
    background-size: cover;
}

#header-contacto > div {
    width: 50%;
    display: flex;
    align-items: center !important;
}

.container {
    padding-top: 5%;
}

.mx-auto {
    color: var(--orange) !important;
    font-weight: bold;
}

.text-orange {
    color: var(--orange) !important;
    font-weight: bold;
}

#reservations {
    background-image: url('../media/img/grid.png');
    background-size: cover;
    height: 70vh;
    font-weight: bolder;
}

#reservations h1 {
    font-size: 2rem;
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
}

#reservations form {
    background-color: var(--orange);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#reservation-form .btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);
}

#reservation-form .btn-primary:hover {
    background-color: var(--orange);
    border-color: var(--orange);
}


.map-container iframe {
    position: absolute;
}

/* Mapa */
.map-container {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    border: 2px solid #FF3A0E;
    border-radius: 8px;
}

/* Indicaciones "Cómo llegar" */
.how-to-get-container {
    padding: 20px;
    background-color: var(--beige);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how-to-get-container h4 {
    font-family: 'Paytone One', sans-serif ;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
}

.directions h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

.directions p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Newsletter - Centrando el contenido */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.newsletter-box {
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-box h4 {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.newsletter-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 4px;
    font-size: 1rem;
}

.newsletter-box button {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--white);
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s, border-color 0.3s;
}

.newsletter-box button:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}


.contact-box {
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-box i {
    color: var(--white);
    margin-bottom: 10px;
}

.contact-box .contact-text {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}

@media (max-width: 767px) {
    .contact-box {
        margin-bottom: 20px;
    }
}

#personalized-card {
    background-color: var(--beige);
    border-top: 2px solid var(--orange);
    padding: 40px 20px;
}

#card-content {
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
    text-align: center;
    border-radius: 8px;
}
