:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #1E0FDA;
    --orange: #FF3A0E;
    --beige: #F8F2EF;
}
body {
    margin: 0;
    background-color: var(--beige); /* Fondo igual para toda la página */
}
header {
    background-color: var(--beige);
    padding: 5px 10px;
    border-bottom: 1px solid var(--orange);
}
.custom-line {
    height: 1.5px;
    background-color: var(--orange);
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    height: 100px; 
}

.logo {
    margin: 0;
    font-size: 4rem; 
    color: var(--orange);
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}

.japanese-text {
    position: absolute;
    right: 30px; 
    transform: translateY(-50%); 
    font-size: 1.7rem;
    color: var(--blue);
    writing-mode: vertical-rl; 
    text-orientation: upright;
    padding-bottom: 2.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 700; 
}


.navbar {
    background-color: var(--beige); 
    border-bottom: 1px solid var(--orange); 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em; 
    padding-left: 17em;
}

.nav-link {
    font-size: 1em;
    font-weight: 400; 
    color: var(--orange); 
    text-transform: uppercase;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color:var(--orange); 
}

.nav-link.active {
    font-weight: 700; /* Bold para el enlace activo */
    color: var(--orange) !important; 
}

* {
    box-sizing: border-box;
}
.contacto {
    background-color: var(--beige);
}

.contact-title {
    font-size: 4em;
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
}
#header-contacto {
    background-color: var(--beige);
    background-image: url('../media/img/headerweb.png');
    background-size: cover;
}
.container {
    padding-top: 5%;
}

.contacto-title {
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
    font-size: 3.6em;
}

.contacto-subtitle{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: var(--orange);
    font-size: 1em;
    background-color: var(--beige);
}

#reservations {
    background-image: url('../media/img/grid.png');
    background-size: contain;
    margin: 0 auto !important;
    background-position: center;
    display: flex;
    padding-bottom: 3rem;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;

}
.my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0!important;
    margin-top: 0!important
}

#reservations h1 {
    font-size: 2rem;
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
}

#reservations form {
    background-color: var(--orange);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#reservation-form .btn-primary {
    background-color: var(--blue);
    border-color: var(--blue);
}

#reservation-form .btn-primary:hover {
    background-color: var(--orange);
    border-color: var(--orange);
}


.map-container iframe {
    position: absolute;
}

/* Mapa */
.map-container {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    border: 2px solid #FF3A0E;
}

/* Indicaciones "Cómo llegar" */
.how-to-get-container {
    padding: 20px;
    background-color: var(--beige);
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.how-to-get-container h4 {
    font-family: 'Paytone One', sans-serif ;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--orange);
}

.directions h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

.directions p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Newsletter - Centrando el contenido */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
}

.newsletter-box {
    background-color: var(--orange);
    color: var(--white);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-box h4 {
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.newsletter-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 4px;
    font-size: 1rem;
}

.newsletter-box button {
    background-color: var(--white);
    color: var(--orange);
    border: 2px solid var(--white);
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s, border-color 0.3s;
}

.newsletter-box button:hover {
    background-color: var(--orange);
    color: var(--white);
    border-color: var(--orange);
}


.contact-box {
    background-color: var(--orange);
    color: var(--white);
    padding: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-box i {
    color: var(--white);
    margin-bottom: 10px;
}

.contact-box .contact-text {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.5;
}
footer {
    background-color: #F8F2EF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Línea horizontal azul */
.line {
    height: 1px;
    background-color: #1E0FDA;
    width: 100%;
    margin-bottom: 4em;
}

/* Enlaces principales */
.text-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    margin: 0 auto 2em auto;
    max-width: 60%;
}

.column h3 {
    font-size: 0.9em;
    font-weight: 400;
    color: #FF3A0E;
    cursor: pointer;
    font-weight: bold
}

.column h3.bold {
    font-weight: 700;
    color: #1E0FDA;
}

/* Redes sociales */
.social-media {
    display: grid
;
    grid-template-columns: repeat(6, 1fr);
    gap: 3em;
    max-width: 40%;
    margin: 0 auto 2em auto;
}
.column-sm i {
    font-size: 1.5em;
    color: #FF3A0E;
    transition: color 0.3s ease;
}

.column-sm i:hover {
    color: #1E0FDA;
}

/* Política de privacidad */
footer .privacy-policy h3 {
    font-size: 0.9em; 
    line-height: 1.2em; 
    color: #FF3A0E; 
    font-weight: bold
}
footer .privacy-policy h4 {
    font-size: 0.9em; 
    line-height: 1.4em; 
    color: #FF3A0E; 
}

.row-policy h3 {
    margin: 0.5em 0;
}

.footer-logo {
    text-align: center; 
    margin-top: 4em;   
}

.footer-logo img {
    max-width: 100%; 
    height: auto;     
}



@media (max-width: 750px) {
    .contact-box {
        margin-bottom: 20px;
    }


#personalized-card {
    background-color: var(--beige);
    border-top: 2px solid var(--orange);
    padding: 40px 20px;
}
.container > div.row > .col-md-6 { 
    padding-top: 4em;}

#card-content {
    font-family: 'Paytone One', sans-serif;
    color: var(--orange);
    text-align: center;
    border-radius: 8px;
}
#contact-info > .row > .col-md-4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
.contacto-subtitle {
    display: none;
}
.social-media {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
    margin: 0 auto 2em auto;
}
.column-sm i {
    font-size: 0.8em;
    color: #FF3A0E;
    transition: color 0.3s ease;
}

footer .privacy-policy h3 {
    font-size: 0.5em;
    line-height: 1.2em;
    color: #FF3A0E;
    font-weight: bold;
}
footer .privacy-policy h4 {
    font-size: 0.5em;
    line-height: 1.4em;
    color: #FF3A0E;
}
.column h3 {
    font-size: 0.6em;
    font-weight: 400;
    color: #FF3A0E;
    cursor: pointer;
    font-weight: bold;
}
.nav-link {
    font-size: 0.6em;
    font-weight: 400;
    color: #ff3a0e;
    text-transform: uppercase;
    transition: color 0.3s ease;
}
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7em;
    padding-left: 1em;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    padding-left: 4em;
}
.text-footer {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.6em;
    margin: 0 auto 2em auto;
    max-width: 60%;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}









