body {
    margin: 0;
    background-color: #F8F2EF; 
}

/* Encabezado */
header {
    background-color: #F8F2EF;
    padding: 5px 10px;
    border-bottom: 1px solid #ff3a0e;
}

/* Contenedor del logo */
.header-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative;
    height: 100px; 
}

/* Logo UMAMI */
.logo {
    margin: 0;
    font-size: 4rem; 
    color: #ff3a0e;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
}

/* Texto japonés */
.japanese-text {
    position: absolute;
    right: 30px; 
    transform: translateY(-50%); 
    font-size: 1.7rem;
    color: #1E0FDA;
    writing-mode: vertical-rl; 
    text-orientation: upright;
    padding-bottom: 2.7em;
    font-family: 'Inter', sans-serif;
    font-weight: 700; /* Bold */
}

/* MENÚ */
.navbar {
    background-color: #F8F2EF; 
    border-bottom: 1px solid #ff3a0e; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em; 
    padding-left: 17em;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 991.98px) {
    .navbar-nav {
        display: block; /* Cambia a un diseño vertical */
        padding-left: 0; /* Ajusta el padding */
        text-align: center; /* Centra los enlaces */
    }

    .navbar-collapse {
        text-align: center;
    }

    .nav-link {
        padding: 0.5em 0; /* Espaciado vertical entre enlaces */
    }
}

.nav-link {
    font-size: 1em;
    font-weight: 400; 
    color: #ff3a0e; 
    text-transform: uppercase;
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #b0290a; 
}

.nav-link.active {
    font-weight: 700; 
    color: #b0290a !important; 
}
/* Sakura Roll Section */
#sakura-roll{
    display: flex;
    align-items: center;
}


.texto-sakura {
    flex: 0.8;
    margin: 0 3em 0 6em;
}


.sakura-titulo{
    font-family: 'Paytone One', sans-serif;
    color: #FF3A0E;
    font-size: 3em;
    margin-bottom: 1em;
}


.sakura-texto {
    font-family: 'Inter', sans-serif; 
    font-weight: 400; 
    color: #FF3A0E; 
    font-size: 1rem;
}


/* Contenedor general del botón */
.botones-sakura {
    margin-top: 3em;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

/* Estilo base del botón */
.boton {
    display: inline-block;
    padding: 0.6rem 1.5rem; 
    font-size: 1rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    color: #FF3A0E; 
    text-decoration: none; 
    border: 1px solid #FF3A0E; 
    background-color: transparent; 
    transition: all 0.3s ease; 
}

/* Hover del botón */
.boton:hover {
    background-color: #1E0FDA; 
    color: #F8F2EF; 
    border-color: #1E0FDA; 
}

/* cuadricula fotos */
.sakura-cuadricula {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 40em;
}

/* Imagen grande (arriba) */
.grid-item-large {
    height: 300px; 
}

.grid-item-large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #FF3A0E; 
    box-sizing: border-box;
}

/* Contenedor para las imágenes pequeñas */
.grid-item-small {
    display: flex;
    
}

.grid-item-small img {
    width: calc(100% - 0.5rem);
    height: 12em;
    object-fit: cover;
    border: 1px solid #FF3A0E;
    box-sizing: border-box;
}

/* POSTERS */
.posters-img{
    width: 100%;
}


.posters-img > img {
    width: 100%;
}

/* CARRUSEL*/
#carrusel-favoritos {
    text-align: center;
    margin: 2em auto;
    background-color: var(--beige);
    padding: 2em;
}

.carrusel-titulo {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
    color: #FF3A0E;
    margin-bottom: 1em;
}

/* Contenedor del carrusel */
.carrusel-contenedor {
    position: relative;
    overflow: hidden;
    max-width: 90%; 
    margin: auto;
}

/* Carrusel */
.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Elementos del carrusel */
.carrusel-item {
    flex: 0 0 auto;
    margin: 0 0.5em;
    border: 2px solid #FF3A0E;
    object-fit: cover;
}

/* Flechas de navegación */
.carrusel-flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--beige);
    border: none;
    font-size: 2em;
    color: #FF3A0E;
    cursor: pointer;
    padding: 0.2em 0.5em;
    z-index: 10;
}

.carrusel-flecha.izquierda {
    left: 0;
}

.carrusel-flecha.derecha {
    right: 0;
}

.carrusel-flecha:hover {
    color: #1E0FDA;
}


/* LÍNEA ROJA */
.linea-separacion {
    height: 1px;
    background-color: #ff3a0e;
    margin: 2em 0; 
}

/* SECCION NOSOTROS */
.seccion-japon {
    background-color: #f8f2ef; 
    padding-bottom: 2em;
}

/* Contenido alineado a la izquierda */
.contenido {
    max-width: 70%; 
    margin-left: 3%; 
    color: #ff3a0e; 
    padding: 2.5em;
}

/* Título */
.titulo-seccion {
    font-family: 'Paytone One', sans-serif; 
    font-size: 2.5em; 
    letter-spacing: -0.05em; 
    margin-bottom: 1.5em;
    text-align: left;
    color: #ff3a0e; 
    max-width: 60%;
}

/* Contenedor de texto en columnas */
.texto-columnas {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
    margin-bottom: 2em;
    padding-top: 1em;
}

/* Columnas */
.columna p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
    color: #ff3a0e; 
}

/* Botón */
.boton-seccion {
    margin-top: 3em;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

.boton-hover {
    display: inline-block;
    padding: 0.6rem 1.5rem; 
    font-size: 1rem;
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    color: #FF3A0E; 
    text-decoration: none; 
    border: 1px solid #FF3A0E; 
    background-color: transparent; 
    transition: all 0.3s ease; 
}

.boton-hover:hover {
    background-color: #1E0FDA; 
    color: #F8F2EF; 
    border-color: #1E0FDA; 
}

/* LÍNEA ROJA */
.linea-separacion{
    height: 1px;
    background-color: #ff3a0e;
    margin: 2em 0; 
}


/*HORARIOS UBICACION*/

#horarios-ubicacion {
    display: flex;
    justify-content: center;
}

.contenedor-seccion {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    gap: 2em;
    width: 80%;
    max-width: 1200px;
}


.titulo-recuadro {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff3a0e;
    margin-bottom: 2em;
    margin-top: 2em;
}

.texto-recuadro {
    font-family: 'Inter', sans-serif;
    font-size: 1.1em;
    line-height: 1.6;
    color: #ff3a0e;
    margin-top: 2em;
}

.linea-vertical {
    width: 2px;
    background-color: #ff3a0e;
    height: 100%; 
    margin: 0 2em;
    align-self: stretch; 
}


/* LÍNEA ROJA */
.linea-separacion {
    height: 1px;
    background-color: #ff3a0e;
    margin: 2em 0; 
}


.contenido-seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    padding: 2em 3em 4em 5em;
}

.columna-texto {
    flex: 1;
    max-width: 50%; 
    color: #ff3a0e;
}

.titulo {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #ff3a0e;
    letter-spacing: -0.04em; 
    max-width: 72%;
}

.texto {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #ff3a0e;
    padding-bottom: 1em;
    max-width: 80%;
}

.botones {
    margin-top: 2em;
}

.boton {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ff3a0e;
    text-decoration: none;
    border: 1px solid #ff3a0e;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #1e0fda; /* Azul */
    color: #f8f2ef; /* Beige */
    border-color: #1e0fda;
}

.columna-imagen {
    flex: 1;
    max-width: 35%;
}

.columna-imagen img {
    width: 80%;
    height: auto;
    object-fit: cover;
}


/* FOOTER */
footer {
    background-color: #F8F2EF;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* Línea horizontal azul */
.line {
    height: 1px;
    background-color: #1E0FDA;
    width: 100%;
    margin-bottom: 4em;
}

/* Enlaces principales */
.text-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4em;
    margin: 0 auto 2em auto;
    max-width: 60%;
}

.column h3 {
    font-size: 0.9em;
    font-weight: 400;
    color: #FF3A0E;
    cursor: pointer;
    font-weight: bold
}

.column h3.bold {
    font-weight: 700;
    color: #1E0FDA;
}

/* Redes sociales */
.social-media {
    display: grid
;
    grid-template-columns: repeat(6, 1fr);
    gap: 3em;
    max-width: 40%;
    margin: 0 auto 2em auto;
}
.column-sm i {
    font-size: 1.5em;
    color: #FF3A0E;
    transition: color 0.3s ease;
}

.column-sm i:hover {
    color: #1E0FDA;
}

/* Política de privacidad */
footer .privacy-policy h3 {
    font-size: 0.9em; 
    line-height: 1.2em; 
    color: #FF3A0E; 
    font-weight: bold
}
footer .privacy-policy h4 {
    font-size: 0.9em; 
    line-height: 1.4em; 
    color: #FF3A0E; 
}

.row-policy h3 {
    margin: 0.5em 0;
}

.footer-logo {
    text-align: center; 
    margin-top: 4em;   
}

.footer-logo img {
    max-width: 100%; 
    height: auto;     
}


/* Ajustes responsivos */
@media (max-width: 768px) {
    .text-footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        max-width: 90%;
    }

    .social-media {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        max-width: 60%;
    }

    .row-policy h3 {
        font-size: 0.7em;
    }
}
